<div class="todo">
  <h2>{{ content }}</h2>
  <div class="cards">
    <!-- <app-status-card></app-status-card> -->
    <!-- <app-status-card-cartao></app-status-card-cartao> -->
    <!-- <app-status-card></app-status-card> -->
    <!-- <app-status-card-cartao></app-status-card-cartao> -->
  </div>

  <div class="ctn-mais">
    <button mat-raised-button (click)="openDialog()">
      <img class="mais" src="/assets/home/mais.png" alt="mais" />
    </button>
  </div>

  <div></div>
</div>
