<main class="main-dialog">
  <div>
    <h1>Criar cartão</h1>
  </div>

  <div>
    <form action="">
      <label for="Nome">Assunto</label>
      <input type="text" name="Nome" id="Nome" />

      <label for="Nome">Nome completo</label>
      <input type="text" name="Nome" id="Nome" />

      <label for="Nome">Empresa</label>
      <input type="text" name="Nome" id="Nome" />

      <label for="Nome">CNPJ</label>
      <input type="text" name="Nome" id="Nome" />

      <label for="Nome">Preço pago</label>
      <input type="text" name="Nome" id="Nome" />

      <label for="Nome">CNPJ</label>
      <input type="text" name="Nome" id="Nome" />

      <div class="botoes">
        <button class="green-btn">Enviar</button>
        <button class="red-btn">Fechar</button>
      </div>
    </form>
  </div>
</main>
